<!-- yeram -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<head>
  <title>myStatistics</title>
  <style>
    th img {
      width : 100px;
      height : 100px;
    }
    #bodySection {
      background-color : #212539;
    }
    th {
      line-height : 0;
    }
    table {
      margin : auto;
    }
    body {
      overflow: hidden;
     }
  </style>
</head>
<!-- Content -->
<body layout:fragment="content">


<div class="container" id="bodySection">
  <h1 th:inline="text"><span th:text="${sp.spRecipient}" id="spId"></span>님의 송편</h1>
  <h3>송편</h3>
    <table>
      <tr>
        <th>
          <img th:src="@{'/img/SP_TYPE_BEAN.png'}" >
        </th>        <th>
          <img th:src="@{'/img/SP_TYPE_REDBEAN.png'}" >
        </th>        <th>
          <img th:src="@{'/img/SP_TYPE_HONEY.png'}" >
        </th>
      </tr>
      <tr>
        <td th:text="${sp.spTypeCount1}"></td>
        <td th:text="${sp.spTypeCount2}"></td>
        <td th:text="${sp.spTypeCount3}"></td>
      </tr>
    </table>

  <h3>앙꼬</h3>
    <table>
      <tr>
        <th>
          <img th:src="@{'/img/SP_WHITE.png'}" >
        </th>        <th>
        <img th:src="@{'/img/SP_PINK.png'}" >
      </th>        <th>
        <img th:src="@{'/img/SP_GREEN.png'}" >
      </th>        <th>
        <img th:src="@{'/img/SP_WHITE.png'}" >
      </th>
      </tr>
      <tr>
        <td th:text="${sp.spColorCount1}"></td>
        <td th:text="${sp.spColorCount2}"></td>
        <td th:text="${sp.spColorCount3}"></td>
        <td th:text="${sp.spColorCount4}"></td>
      </tr>
    </table>
</div>



</body>
</html>