<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
      alert("선생님 주소 잘못 찾아오셨어요🐰🥕 (404Error)");
<!--      history.back();-->
    </script>
</head>
<body>
<div style=" background-color: #212539;">
    <div class="image-container">
        <img src="/img/daltokki2.png" width="250" height="250"></div>
    <h1>안녕 귀염둥이. 길을 잃었나보군.🐰</h1><br>
    <h4>페이지를 찾을 수 없으니 왔던 길로 돌아가세요.(404)</h4><br>
</div>
</body>
</html>