<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>
    <script>
      const message = /*[[${message}]]*/ '';
      alert("주소를 다시 확인해주세요!🥕");
      console.log(message);
<!--      history.back();-->
    </script>
</head>
<body>
<h1>하이 여기 에러페이지에요🤣</h1>
<h4>에러페이지도 꾸미면 귀여울 것 같음</h4>
<h4>에러번호는 개발자도구 참고</h4>
</body>
</html>