<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
      const message = /*[[${message}]]*/ '';
      alert("주소를 다시 확인해주세요!🥕");
      console.log(message);
<!--      history.back();-->
    </script>
</head>
<body>
<div style=" background-color: #212539;">
    <div class="image-container">
        <img src="/img/daltokki2.png" width="250" height="250"></div>
    <h1>안녕 귀염둥이. 길을 잃었나보군.🐰</h1><br>
    <h4>에러페이지에요</h4>
    <h4>에러번호는 개발자도구 참고</h4><br>
</div>
</body>
</html>