<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>
    <!-- kakao -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modalStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
   // 링크 공유 모달 열기
   function openCopyModal() {
       $("#ShareModal").modal("show");
   }

   // 복사 기능
  function CopyLink() {
      event.preventDefault(); // 모달 창 내부의 버튼 클릭시 발생하는 이벤트 막기

      const url = document.getElementById("CopyUrl");
      navigator.clipboard.writeText(url.value); // 주소 복사
      $("#ShareModal").modal("hide"); // 모달 창 닫기
  }

   // 모달 버튼 - 송편 지우기
   function DeleteSp() {
        const spId = $('#modalSpId').text(); // 수정된 부분

        $.ajax({
               type: 'Post',
               url: 'deleteSp',
               data: { spId: spId },
               success: function(data) {
                   alert("송편이 삭제되었슴니당!");
                   $('.row').load(location.href+' .row');
               }
        });
   }

    // ----------------------miju(08/18 추가)-------------------------------
    // DOM 로딩이 완료되면 실행될 함수
    document.addEventListener("DOMContentLoaded", function() {
        var goToWriteSpButton = document.getElementById("goToWriteSpButton");
        var hiddenIdInput = document.getElementById("hiddenIdInput");

        // 버튼이 존재하는 경우에만 이벤트 리스너 등록하도록 수정(08/23)
        if (goToWriteSpButton) {

            goToWriteSpButton.addEventListener("click", function() {
                var id = hiddenIdInput.value;
                var url = 'writeSp?id=' + encodeURIComponent(id);
                location.href = url;
            });

        }
    });
    // ----------------------miju(08/18 추가)-------------------------------
</script>
<body>
    <div class="container">
        <h1 th:inline="text"><span th:text="${param.id}"></span>님의 메인</h1>
        <img th:src="@{'/img/' + ${userInfo.get().rabbitType} + '.png'}" width="100px" height="100px">
        <div class="box">
            <div class="row">
                <div th:each="sp : ${spList}" class="col-md-4" style="text-align: center;">
                    <div style="width: 100px; hight: 100px; margin: 0 auto;">
                        <a href="#" data-toggle="modal" data-target="#ContentModal" th:data-spId="${sp.spId}">
                            <!-- DB에 저장된 spColor에 맞는 이미지 표시 -->
                            <img th:src="@{'/img/SP_' + ${sp.spColor} + '.png'}">
                            <br> <!-- 이미지와 텍스트를 구분 위해 줄 바꿈 : 다른 방법이 있나..? -->
                            <span th:text="${sp.spSender}" style="font-size: 12px;"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn-hover color-3paging" th:if="${currentPage > 0}" th:onclick="'location.href=\'' + @{/main(id=${id}, page=${currentPage - 1})} + '\''">◁</button>
                <button class="btn-hover color-3paging" th:if="${currentPage < totalPages - 1}" th:onclick="'location.href=\'' + @{/main(id=${id}, page=${currentPage + 1})} + '\''">▶</button>
            </div>
            </div>
        </div>

        <!-- 페이징 컨트롤 -->
<!--        <div class="pagination">-->
<!--            <ul>-->
<!--                <li th:if="${currentPage > 0}">-->
<!--                    <a th:href="@{/main?id=${id}&amp;page=0}">First</a>-->
<!--                </li>-->
<!--                <li th:if="${currentPage > 0}">-->
<!--                    <a th:href="@{/main?id=${id}&amp;page=${currentPage - 1}}">Previous</a>-->
<!--                </li>-->
<!--                <li th:if="${currentPage < totalPages - 1}">-->
<!--                    <a th:href="@{/main?id=${id}&amp;page=${currentPage + 1}}">Next</a>-->
<!--                </li>-->
<!--                <li th:if="${currentPage < totalPages - 1}">-->
<!--                    <a th:href="@{/main?id=${id}&amp;page=${totalPages - 1}}">Last</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->

        <div class="btn">
<!--             본인의 송편 페이지면 링크 버튼 출력-->
            <button th:if="${#strings.equals(#authentication.name, param.id) or #strings.equals(#authentication.name, tokenCode)}" id="shareKakao" onClick="sendLinkDefault()" class="btn-hover color-3mini">카카오 공유</button>
            <button th:if="${#strings.equals(#authentication.name, param.id) or #strings.equals(#authentication.name, tokenCode)}" id="shareLink" onclick="openCopyModal()" class="btn-hover color-3mini">링크 공유</button>
            <!-- 본인의 송편 페이지가 아니면 송편 작성 버튼 출력-->
            <button th:if="${!#strings.equals(#authentication.name, param.id) and !#strings.equals(#authentication.name, tokenCode)}" id="goToWriteSpButton" class="btn-hover color-3mini">메시지 작성</button>
            <input type="hidden" id="hiddenIdInput" name="id" th:value="${param.id}">
        </div>
    </div>

    <!--모달 영역 -->
    <!-- 링크공유 모달 -->
    <div id="ShareModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">링크 공유</h4>
                </div>
                <div class="modal-body">
                    <div class="p-4 to-front">
                        <div class="text-center">
                            <div class="qr">
                                <img th:src="@{getQrcode(id=${param.id})}" alt="QR Code" class="img-fluid mb-4"/>
                            </div>
                            <br><p class="mb-4">친구에게 달토끼를 공유하세용!🐰</p>
                            <form action="#" class="mb-4">
                                <div class="form-group">
                                    <input type="text" id="CopyUrl" class="form-control w-100 mr-3" th:value="${#httpServletRequest.getRequestURL()} + '?' + ${#httpServletRequest.getQueryString()}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
<!--                    <div class="row">-->
                    <div>
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-secondary" onclick="CopyLink()" style="color: #212539;">복사하기</button>
                                <button class="btn btn-primary" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 송편 내용 조회 모달 -->
    <div id="ContentModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="selectmodal-content">
                <div class="modal-header">
                    <h3 class="modal-title"><span id="modalSpTitle"></h3><span id="modalSpId" style="color: rgba(255, 255, 255, 0);">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteSp()">지우기</button>
                </div>
                <div class="modal-body">
                    <div class="message-header">
                        <p class="message-sender">보낸이: <span id="modalSpName"></span></p>
                        <p class="message-date">날짜: <span id="modalSpdate"></span></p>
                    </div>
                    <div class="message-content">
                        <p><span id="modalSpContent"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteSp()">지우기</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const currentUserId = /*[[${#authentication.name}]]*/ ''; // 현재 사용자의 아이디
        const paramId = /*[[${param.id}]]*/ ''; // param.id 값
        const tokenCode = /*[[${tokenCode}]]*/ ''; // 토큰코드
        /*]]>*/

        $(document).ready(function() {
            // 송편 내용 조회 모달
            $('#ContentModal').on('show.bs.modal', function(event) {
                console.log("currentUserId : " + currentUserId);
                console.log("paramId : " + paramId);
                console.log("tokenCode : " + tokenCode);

                // 시큐리티 세션(currentUserId)과 paramId 또는 토큰을 비교해 일치하는 유저만 송편을 조회할 수 있게 제어
                if (currentUserId != paramId && currentUserId != tokenCode) {
                    alert(paramId + " 토끼만 읽을 수 있어요!🐰");
                    return false;
                }

                const spId = $(event.relatedTarget).data('spid');
                console.log(spId);

                // 송편 내용 ajax로 조회
                $.ajax({
                    type: 'GET',
                    url: 'findSp',
                    data: { spId: spId },
                    success: function(data) {
                        console.log(data);
                        // 모달 내용 업데이트
                        $('#modalSpTitle').text(data.spTitle);
                        $('#modalSpId').text(data.spId);
                        $('#modalSpName').text(data.spSender);
                        $('#modalSpdate').text(data.spCreateDate.substr(0,10));
                        $('#modalSpContent').text(data.spContent);
                    },
                    error: function(xhr, status, error) {
                        console.error('송편 조회 모달 AJAX 에러 :', error);
                    }
                }); // ajax
            }); // event
        }); // document

        // 카카오 Custom -> 얘는 모달로 안된다고 합니다.
        try {
<!--     alert("https://developers.kakao.com/main?id="+paramId);-->
<!--     alert("https://developers.kakao.com/main?id=" + encodeURIComponent(paramId));-->
<!--     alert(window.location.href);-->

        <!-- 초기화는 한번만 되야하므로 함수 밖에서 초기화 함 -->
         Kakao.init('efbfe79e4b4775d2088ca0e7d9a8edf1')

         function sendLinkDefault() {
           Kakao.Link.sendDefault({
             objectType: 'feed',
             content: {
               title: '달토끼🐰',
               description: '배고픈 토끼에게 최고의 송편을 만들어 주세요😢😢',
               imageUrl:
                 'http://k.kakaocdn.net/dn/bozSxc/btsp6qTBbFg/rQywrAKm7RY1uAcBbmdqrk/kakaolink40_original.png',
               link: {
                  mobileWebUrl: window.location.href,
                  webUrl:window.location.href,
               },
             },
             buttons: [
               {
                 title: '웹으로 보기',
                 link: {
                    mobileWebUrl: window.location.href,
                    webUrl: window.location.href,
                 },
               },
             ],
           })
         }
         ; window.kakaoDemoCallback && window.kakaoDemoCallback() }
         catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }
    </script>
</body>

</html>