<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>
    <!-- kakao -->
    <script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modalStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<script>
   // 링크 공유 모달 열기
   function openCopyModal() {
       $("#ShareModal").modal("show");
   }

   // 복사 기능
  function CopyLink() {
      event.preventDefault(); // 모달 창 내부의 버튼 클릭시 발생하는 이벤트 막기

      const url = document.getElementById("CopyUrl");
      navigator.clipboard.writeText(url.value); // 주소 복사
      $("#ShareModal").modal("hide"); // 모달 창 닫기
  }

   // 모달 버튼 - 송편 지우기
   function DeleteSp() {
        const spId = $('#modalSpId').text(); // 수정된 부분

        $.ajax({
               type: 'Post',
               url: 'deleteSp',
               data: { spId: spId },
               success: function(data) {
                   alert("송편이 삭제되었슴니당!");
                   $('.row').load(location.href+' .row');
               }
        });
   }

    // ----------------------miju(08/18 추가)-------------------------------
    // DOM 로딩이 완료되면 실행될 함수
    document.addEventListener("DOMContentLoaded", function() {
        var goToWriteSpButton = document.getElementById("goToWriteSpButton");
        var hiddenIdInput = document.getElementById("hiddenIdInput");

        goToWriteSpButton.addEventListener("click", function() {
            var id = hiddenIdInput.value;
            var url = 'writeSp?id=' + encodeURIComponent(id);
            location.href = url;
        });
    });
    // ----------------------miju(08/18 추가)-------------------------------
</script>
<body>
    <div class="container">
        <h1 th:inline="text"><span th:text="${param.id}"></span>님의 메인</h1>
        <img th:src="@{'/img/' + ${userInfo.get().rabbit_type} + '.png'}" width="100px" height="100px">
        <div class="box">
            <div class="row">
                <div th:each="sp : ${spList}" class="col-md-4" style="text-align:center">
                    <a href="#" data-toggle="modal" data-target="#ContentModal" th:data-spId="${sp.spId}">
                        <!-- DB에 저장된 spColor에 맞는 이미지 표시 -->
                        <img th:src="@{'/img/SP_' + ${sp.spColor} + '.png'}" width="100px" height="100px">
                        <br> <!-- 이미지와 텍스트를 구분 위해 줄 바꿈 : 다른 방법이 있나..? -->
                        <span th:text="${sp.spSender}"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="btn">
            <!-- 본인의 송편 페이지면 링크 버튼 출력-->
            <button th:if="${#strings.equals(#authentication.name, param.id)}" id="shareKakao" onClick="sendLinkDefault()">카카오 공유</button>
            <button th:if="${#strings.equals(#authentication.name, param.id)}" id="shareLink" onclick="openCopyModal()">링크 공유</button>
            <button id="googleLogin" onclick="location.href='/login/oauth2/code/google'">구글 로그인</button>
            <!-- 본인의 송편 페이지가 아니면 송편 작성 버튼 출력-->
            <button th:if="${!#strings.equals(#authentication.name, param.id)}" id="goToWriteSpButton">메시지 작성</button>
            <input type="hidden" id="hiddenIdInput" name="id" th:value="${param.id}">
        </div>
    </div>

    <!--모달 영역 -->
    <!-- 링크공유 모달 -->
    <div id="ShareModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">링크 공유</h4>
                </div>
                <div class="modal-body">
                    <div class="p-4 to-front">
                        <div class="text-center">
                            <div class="qr">
                                <img th:src="@{getQrcode(id=${param.id})}" alt="QR Code" class="img-fluid mb-4"/>
                            </div>
                            <br><p class="mb-4">친구에게 달토끼를 공유하세용!🐰</p>
                            <form action="#" class="mb-4">
                                <div class="form-group">
                                    <input type="text" id="CopyUrl" class="form-control w-100 mr-3" th:value="${#httpServletRequest.getRequestURL()} + '?' + ${#httpServletRequest.getQueryString()}">
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn btn-secondary btn-block" onclick="CopyLink()">복사하기</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-primary btn-block" data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
<!--                        <button type="button" class="btn btn-primary" onclick="CopyLink()">복사하기</button>-->
<!--                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>-->
<!--                        <button type="button" class="btn btn-primary" onclick="CopyLink()" style="width: 40%">복사하기</button>-->
<!--                        <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 40%">닫기</button>-->
                </div>
            </div>
        </div>
    </div>

    <!-- 송편 내용 조회 모달 -->
    <div id="ContentModal" class="modal modal-bottom fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">송편</h4>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="DeleteSp()">지우기</button>
                </div>
                <div class="modal-body">
                    <div>
                        <span>ID: </span><span id="modalSpId"></span>
                    </div>
                    <div>
                        <span>Name: </span><span id="modalSpName"></span>
                    </div>
                    <div>
                        <span>Content: </span><span id="modalSpContent"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

<!-- script -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        const currentUserId = /*[[${#authentication.name}]]*/ ''; // 현재 사용자의 아이디
        const paramId = /*[[${param.id}]]*/ ''; // param.id 값
        /*]]>*/

        console.log(currentUserId);
        console.log(paramId);

        $(document).ready(function() {
            // 송편 내용 조회 모달
            $('#ContentModal').on('show.bs.modal', function(event) {
                // 로그인 아이디(currentUserId)와 paramId를 비교해 일치하는 유저만 송편을 조회할 수 있게 제어
                if (currentUserId != paramId) {
                    alert(paramId + " 토끼만 읽을 수 있어요!🐰");
                    return false;
                }

                const spId = $(event.relatedTarget).data('spid');
                console.log(spId);

                // 송편 내용 ajax로 조회
                $.ajax({
                    type: 'GET',
                    url: 'findSp',
                    data: { spId: spId },
                    success: function(data) {
                        console.log(data);
                        // 모달 내용 업데이트
                        $('#modalSpId').text(data.spId);
                        $('#modalSpName').text(data.spSender);
                        $('#modalSpContent').text(data.spContent);
                    },
                    error: function(xhr, status, error) {
                        console.error('송편 조회 모달 AJAX 에러 :', error);
                    }
                }); // ajax
            }); // event
        }); // document

        // 카카오 Custom -> 얘는 모달로 안된다고 합니다.
        try {
<!--     alert("https://developers.kakao.com/main?id="+paramId);-->
<!--     alert("https://developers.kakao.com/main?id=" + encodeURIComponent(paramId));-->
<!--     alert(window.location.href);-->

         function sendLinkDefault() {
           Kakao.init('efbfe79e4b4775d2088ca0e7d9a8edf1')
           Kakao.Link.sendDefault({
             objectType: 'feed',
             content: {
               title: '달토끼🐰',
               description: '배고픈 토끼에게 최고의 송편을 만들어 주새요😢😢',
               imageUrl:
                 'http://k.kakaocdn.net/dn/bozSxc/btsp6qTBbFg/rQywrAKm7RY1uAcBbmdqrk/kakaolink40_original.png',
               link: {
                  mobileWebUrl: window.location.href,
                  webUrl:window.location.href,
               },
             },
             buttons: [
               {
                 title: '웹으로 보기',
                 link: {
                    mobileWebUrl: window.location.href,
                    webUrl: window.location.href,
                 },
               },
             ],
           })
         }
         ; window.kakaoDemoCallback && window.kakaoDemoCallback() }
         catch(e) { window.kakaoDemoException && window.kakaoDemoException(e) }
    </script>
</body>

</html>