<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <title>달토끼</title>

    <style>
        #msg{
            width:100px;
            margin:auto;
            display:block;
        }
    </style>

</head>
<body>
    메인화면 임니당
    <!-- 로그인 및 회원가입 시작 -->
    <button sec:authorize="isAnonymous()" onclick="location.href='login'">로그인</button>
    <button sec:authorize="isAuthenticated()" onclick="location.href='logout'">로그아웃</button>
    <button onclick="location.href='join'">회원가입</button>
    <!-- 로그인 및 회원가입 끝 -->

<!--    임시로 홈화면 들어가는 버튼-->
<!--    <button onclick="location.href='main'">홈</button>-->
</body>
</html>