.modal-content {
    background-color: #abb1cf;
}

.selectmodal-content {
    background-image: url('/img/modal.jpg');
    background-size: cover;
}

/* 스크롤 방지 스타일 */
body.modal-open {
    overflow: hidden;
}

.message-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.message-title {
    font-size: 24px;
    margin: 0;
}

.message-sender, .message-date {
    font-size: 16px;
    color: #eeeeee;
    margin: 0;
    height: 30px;
}

.message-content {
    font-size: 20px;
    line-height: 1.5;
    color: #555;
    height: 200px;
}

