/* 전체 화면을 꽉 채우는 검은 바탕 설정 */
/* scaffolding.less 파일이 우선으로 먹히고있음 -> 부트스트랩 */

body {
    margin: 0; /* 필수 */
    padding: 0;
    display: flex; /* 모달을 화면 가운데 배치 */
    flex-direction: column; /* 가로축 영향 -> align-items */
    justify-content: center;
    align-items: center;
    height: 100vh; /* body의 높이를 브라우저의 높이로 강제로 맞춰줌 -> body 기준으로 모달 위치 */
    background-color: #212539;
    border: 5px solid red;
    /* 별도로 min-width를 설정하지 않으면 modal의 container의 width 사이즈로 나옴 */
}

/* 모달창 열릴때 스크롤바X */
body.modal-open {
    overflow: hidden;
    padding-right: 0 !important; /* 필요한 경우에만 적용되는 패딩 제거 */
}

/* 화면 중앙에 위치하도록 하는 요소 */
.container {
    width: 33.33%; /* 전체 화면의 1/3 크기로 설정 */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; /* 가로축 영향 -> align-items */
    align-items: center;
    background-color: #fffee0;
    border: 5px solid red;
}

/* 중앙에 위치한 박스의 스타일 설정 */
.box {
    /* width: 33.33%; */
    width: 100%
    height: 100%;
    /* padding: 20px; */
    background-color: #fffee0;
    border: 5px solid blue;
}

/* 아나 인텔리제이 css 불편해 */
button {
    border: 2px solid navy;
    border-radius : 5px;
    padding: 5px;
    background-color: white;
}

.btn {
    /* margin: 20px; */
    border: 5px solid red;
    border-radius: 5px;
}

 @font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NeoDunggeunmoPro-Regular'; /* 폰트 적용 */
    text-align: center;
    margin: 0;
    padding: 0;
}