/* 폰트 */
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'NeoDunggeunmoPro-Regular';
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    margin: 0; /* 필수 */
    padding: 0;
    display: flex; /* 모달을 화면 가운데 배치 */
    flex-direction: column; /* 가로축 영향 -> align-items */
    justify-content: center;
    align-items: center;
    height: 100vh; /* body의 높이를 브라우저의 높이로 강제로 맞춰줌 -> body 기준으로 모달 위치 */
    background-image: url('/img/page.png');
    /* 별도로 min-width를 설정하지 않으면 modal의 container의 width 사이즈로 나옴 */
}

/* 모달창 열릴때 스크롤바X */
body.modal-open {
    overflow: hidden;
    padding-right: 0 !important; /* 필요한 경우에만 적용되는 패딩 제거 */
}

/* 화면 중앙에 위치하도록 하는 요소 */
.container {
    width: 33.33%; /* 전체 화면의 1/3 크기로 설정 */
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column; /* 가로축 영향 -> align-items */
    align-items: center;
    background-color: #212539;
}

/* 중앙에 위치한 박스의 스타일 설정 */
.box {
    /* width: 33.33%; */
    width: 100%
    height: 100%;
    /* padding: 20px; */
    background-color: #212539;
    border: 5px solid blue;
}

input {
    color: #212539;
}

/* 버튼 */

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 17px;
    font-weight: 200;
    font-family: 'NeoDunggeunmoPro-Regular';
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/* 버튼 끝 */
